
<div id="maincontainer">
<div id="section1">
<span><img src="images/1408782140_chiken.png" onclick="document.location.href='#/breakfast'"><br><label class="imageCaption">Breakfast</label></span>
<span><img src="images/1408783879_Chinese_food.png"><br><label class="imageCaption">Lunch</label></span>
</div>
<div id="section2">
<span><img src="images/1408783935_Egg.png"><br><label class="imageCaption">Dinner</label></span>
<span><img src="images/1408782140_chiken.png"><br><label class="imageCaption">Kitchen</label></span>
</div>
</div>
	
